html, body, h1 {
	margin-left:100px;
	padding: 0;
}

body {
	background-color: #f4f4f4;
	font-family: 'Open Sans', sans-serif;
}

h2,p {
	font-weight: 300;
	width:500px;
	letter-spacing: -1.2px;
}

a {
	text-decoration: none;
	display: inline-block;
}

.container {
	width: 1000px;
	margin: 0 auto;
}

.pull-left {
	float: left;
}
pull-right {
	float: right;
}

.clearfix {
	clear: both;
}

.form-group {
	width:500px;
}


.section-device {
	float: right;
	position: relative;
	top: 65px;
}

.btn-primary {
	background: #c61618;
	border: 1px solid #c61600;
	color: #ffffff;
	font-family; 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 0.23px;
	width: 640px
	

}




/* calc */

.calc-section {
	float: center;
	margin-left:100px;

}

.section-content {
	color: #3a3a3a;
	float: left;
	width: 340px;
}


.form-group {
	width:500px;
	margin-bottom: 30px;
}

.p {
	width:500px;
}
